sersor by hand.json
[{"id":"32497a7a.4ff246","type":"tab","label":"pressure","disabled":false,"info":""},{"id":"ec588adc.aace58","type":"tab","label":"Flowmeter","disabled":false,"info":""},{"id":"1adada96.ddd1b5","type":"ui_tab","z":"","name":"home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6d415f21.32e8b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":96,"sy":96,"gx":12,"gy":12,"cx":12,"cy":12,"px":0,"py":0}}},{"id":"b98e544f.2af308","type":"ui_group","z":"","name":"Default","tab":"1adada96.ddd1b5","order":1,"disp":true,"width":3,"collapse":false},{"id":"ab2cafaa.465df","type":"ui_spacer","name":"spacer","group":"","order":2,"width":9,"height":1},{"id":"27de9867.fcc958","type":"ui_spacer","name":"spacer","group":"","order":5,"width":11,"height":1},{"id":"5bcc1022.43343","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"50","bin":"bin","out":"time","addchar":"","responsetimeout":"100"},{"id":"2b9fbebc.48d672","type":"ui_spacer","name":"spacer","group":"b98e544f.2af308","order":2,"width":2,"height":1},{"id":"43d7c72b.238fd8","type":"ui_group","z":"","name":"123","tab":"231188d5.13fe48","order":2,"disp":true,"width":3,"collapse":false},{"id":"231188d5.13fe48","type":"ui_tab","z":"","name":"666","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"476c625e.8b0d3c","type":"inject","z":"32497a7a.4ff246","name":"go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["eacf43ec.f3b06"]]},{"id":"eacf43ec.f3b06","type":"function","z":"32497a7a.4ff246","name":"command","func":"var id = 1;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"03\";\nvar reghi = \"00\";\nvar reglo = \"00\";\nvar addrhi = \"00\";\nvar addrlo = \"01\";\n\n\nvar data = id+type+reghi+reglo+addrhi+addrlo;\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["fe914aa6.65eaa8"]]},{"id":"fe914aa6.65eaa8","type":"function","z":"32497a7a.4ff246","name":"加入CRC","func":"var buf= Buffer.from(msg.data, \"hex\");\nvar length = buf.length;\nvar crc = 0xFFFF;\nvar i,j,LSB;\n\n for (i = 0; i < length; i++) \n {\n   crc = crc^buf[i];\n   \n   for (j = 0; j < 8; j++) \n   {\n    LSB= crc & 1;\n    crc = crc >> 1;\n    if (LSB)\n    {\n     crc = crc^0xA001;\n    }\n  }\n }\n\n temp = ((crc & 0xFF00) >> 8)|((crc & 0x0FF) << 8 );\n \n temp = temp.toString(16);\n \n switch(temp.length)\n {\n    case 1:\n    temp = \"000\"+temp;\n    break;\n\n    case 2:\n    temp = \"00\"+temp;\n    break;\n    \n    case 3:\n    temp = \"0\"+temp;    \n    break;\n }\n \nmsg.payload = msg.data + temp.toString(16);\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["4643fea4.f5b7f"]]},{"id":"4643fea4.f5b7f","type":"function","z":"32497a7a.4ff246","name":"送出","func":"msg.payload = Buffer.from(msg.payload, \"hex\");\nmsg = \n{\n    \"payload\":msg.payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["c3089779.d8b5c8"]]},{"id":"39868903.6f3c66","type":"debug","z":"32497a7a.4ff246","name":"1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":100,"wires":[]},{"id":"c3089779.d8b5c8","type":"serial request","z":"32497a7a.4ff246","name":"","serial":"5bcc1022.43343","x":710,"y":100,"wires":[["39868903.6f3c66","555df242.57489c"]]},{"id":"b6830c98.645c1","type":"function","z":"32497a7a.4ff246","name":"modbus","func":"var id = msg.payload[0].toString(10);\nvar len = msg.payload[2];\nvar payload =msg.payload;\nvar table = [2,3,0,1,6,7,4,5];\n//====================================================\nvar i = 0;\nvar temp =\"\";\nvar data=\"\";\n//====================================================\n    for(i=0;i<len;i++)\n    {\n        temp = parseInt(payload[3+i],10);\n        temp = temp.toString(16);\n        temp = temp.padStart(2,\"0\");\n        data = data + temp;\n    }\n    msg = \n    {\n        \"payload\":\"0x\" + data,\n        \"id\":id,\n    }\n    node.send(msg);","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["1a4f1208.0f04ae","d02d330d.f8713"]]},{"id":"555df242.57489c","type":"function","z":"32497a7a.4ff246","name":"status OK","func":"if(msg.status == \"OK\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["4c86455f.650eac","b6830c98.645c1"]]},{"id":"4c86455f.650eac","type":"debug","z":"32497a7a.4ff246","name":"2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":180,"wires":[]},{"id":"1a4f1208.0f04ae","type":"debug","z":"32497a7a.4ff246","name":"3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":260,"wires":[]},{"id":"d02d330d.f8713","type":"function","z":"32497a7a.4ff246","name":"16 to 10","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":320,"wires":[["6c10874d.7975f8","4bb6a7ef.cae4a8","e3809053.f8a7e"]]},{"id":"6c10874d.7975f8","type":"debug","z":"32497a7a.4ff246","name":"4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":320,"wires":[]},{"id":"4bb6a7ef.cae4a8","type":"range","z":"32497a7a.4ff246","minin":"0","maxin":"65535","minout":"4","maxout":"20","action":"scale","round":false,"property":"payload","name":"","x":650,"y":400,"wires":[["dcc7b1f6.e63d7","15e84106.1c50df"]]},{"id":"dcc7b1f6.e63d7","type":"debug","z":"32497a7a.4ff246","name":"5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":400,"wires":[]},{"id":"15e84106.1c50df","type":"range","z":"32497a7a.4ff246","minin":"4","maxin":"20","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":650,"y":480,"wires":[["c221da16.5a7b08","8cc3e8b6.876cf8"]]},{"id":"c221da16.5a7b08","type":"debug","z":"32497a7a.4ff246","name":"6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":480,"wires":[]},{"id":"8cc3e8b6.876cf8","type":"function","z":"32497a7a.4ff246","name":"小數下三位","func":"msg.payload = msg.payload *14.5;\nmsg.payload = Math.round(msg.payload * 1000)/1000;\n//msg.payload = Math.round(msg.payload * 10)/10;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["79c4426e.d2eaec","b6cddaa4.fea3d8","b9f6438.d269bc"]]},{"id":"79c4426e.d2eaec","type":"debug","z":"32497a7a.4ff246","name":"7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":540,"wires":[]},{"id":"b6cddaa4.fea3d8","type":"ui_gauge","z":"32497a7a.4ff246","name":"","group":"b98e544f.2af308","order":4,"width":3,"height":3,"gtype":"gage","title":"bar","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":640,"wires":[]},{"id":"b9f6438.d269bc","type":"ui_chart","z":"32497a7a.4ff246","name":"","group":"b98e544f.2af308","order":3,"width":3,"height":3,"label":"bar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":680,"wires":[[]]},{"id":"674c4302.ee3f6c","type":"inject","z":"32497a7a.4ff246","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":620,"wires":[["a31328c6.6c6038"]]},{"id":"a31328c6.6c6038","type":"function","z":"32497a7a.4ff246","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":640,"wires":[["b9f6438.d269bc","b6cddaa4.fea3d8","955a56e4.a1cf48"]]},{"id":"cc21779f.9bb5c8","type":"ui_button","z":"32497a7a.4ff246","name":"","group":"b98e544f.2af308","order":1,"width":1,"height":1,"passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":700,"wires":[["a31328c6.6c6038"]]},{"id":"e3809053.f8a7e","type":"range","z":"32497a7a.4ff246","minin":"0","maxin":"65535","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":470,"y":480,"wires":[["f9e9ad47.646d2"]]},{"id":"955a56e4.a1cf48","type":"ui_gauge","z":"32497a7a.4ff246","name":"","group":"b98e544f.2af308","order":4,"width":3,"height":3,"gtype":"gage","title":"bar2","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":720,"wires":[]},{"id":"f9e9ad47.646d2","type":"function","z":"32497a7a.4ff246","name":"小數下三位","func":"msg.payload = msg.payload *14.5;\nmsg.payload = Math.round(msg.payload * 1000)/1000;\n//msg.payload = Math.round(msg.payload * 10)/10;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[["955a56e4.a1cf48"]]},{"id":"7ce6205c.18a08","type":"debug","z":"32497a7a.4ff246","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":920,"wires":[]},{"id":"89f4be65.487dc","type":"serial request","z":"32497a7a.4ff246","name":"","serial":"5bcc1022.43343","x":690,"y":840,"wires":[["7ce6205c.18a08"]]},{"id":"d860ec5b.0bb0a","type":"function","z":"32497a7a.4ff246","name":"送出","func":"msg.payload = Buffer.from(msg.payload, \"hex\");\nmsg = \n{\n    \"payload\":msg.payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":840,"wires":[["89f4be65.487dc"]]},{"id":"738e6644.c0aa98","type":"function","z":"32497a7a.4ff246","name":"加入CRC","func":"var buf= Buffer.from(msg.data, \"hex\");\nvar length = buf.length;\nvar crc = 0xFFFF;\nvar i,j,LSB;\n\n for (i = 0; i < length; i++) \n {\n   crc = crc^buf[i];\n   \n   for (j = 0; j < 8; j++) \n   {\n    LSB= crc & 1;\n    crc = crc >> 1;\n    if (LSB)\n    {\n     crc = crc^0xA001;\n    }\n  }\n }\n\n temp = ((crc & 0xFF00) >> 8)|((crc & 0x0FF) << 8 );\n \n temp = temp.toString(16);\n \n switch(temp.length)\n {\n    case 1:\n    temp = \"000\"+temp;\n    break;\n\n    case 2:\n    temp = \"00\"+temp;\n    break;\n    \n    case 3:\n    temp = \"0\"+temp;    \n    break;\n }\n \nmsg.payload = msg.data + temp.toString(16);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":840,"wires":[["d860ec5b.0bb0a"]]},{"id":"bacf3a22.88fc68","type":"function","z":"32497a7a.4ff246","name":"command","func":"var id = 0;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"03\";\nvar reghi = \"00\";\nvar reglo = \"10\";\nvar addrhi = \"00\";\nvar addrlo = \"01\";\n\n\nvar data = id+type+reghi+reglo+addrhi+addrlo;\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":840,"wires":[["738e6644.c0aa98"]]},{"id":"bcdc5ceb.7deba","type":"inject","z":"32497a7a.4ff246","name":"read id","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":800,"wires":[["bacf3a22.88fc68"]]},{"id":"8ac36ddb.9da21","type":"function","z":"32497a7a.4ff246","name":"command","func":"var id = 11;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"06\";\nvar reghi = \"00\";\nvar reglo = \"10\";\nvar addrhi = \"00\";\nvar addrlo = 1;\naddrlo = addrlo.toString(16);\naddrlo = addrlo.padStart(2,\"0\");\n\n\nvar data = id+type+reghi+reglo+addrhi+addrlo;\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":920,"wires":[["738e6644.c0aa98"]]},{"id":"bfbdc01a.5aa54","type":"inject","z":"32497a7a.4ff246","name":"write id","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":920,"wires":[["8ac36ddb.9da21"]]},{"id":"2bb3439b.74e16c","type":"inject","z":"ec588adc.aace58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["25541a57.114186"]]},{"id":"fa1ecd35.1845a","type":"serial request","z":"ec588adc.aace58","name":"","serial":"5bcc1022.43343","x":790,"y":80,"wires":[["ffb0b4a8.e23a08","f79cacd5.8fa3e"]]},{"id":"25541a57.114186","type":"function","z":"ec588adc.aace58","name":"command","func":"var id = 1;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"03\";\nvar reghi = \"03\";\nvar reglo = \"ED\";\nvar addrhi = \"00\";\nvar addrlo = \"02\";\n\n\nvar data = id+type+reghi+reglo+addrhi+addrlo;\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["47be0110.68b71"]]},{"id":"47be0110.68b71","type":"function","z":"ec588adc.aace58","name":"加入CRC","func":"var buf= Buffer.from(msg.data, \"hex\");\nvar length = buf.length;\nvar crc = 0xFFFF;\nvar i,j,LSB;\n\n for (i = 0; i < length; i++) \n {\n   crc = crc^buf[i];\n   \n   for (j = 0; j < 8; j++) \n   {\n    LSB= crc & 1;\n    crc = crc >> 1;\n    if (LSB)\n    {\n     crc = crc^0xA001;\n    }\n  }\n }\n\n temp = ((crc & 0xFF00) >> 8)|((crc & 0x0FF) << 8 );\n \n temp = temp.toString(16);\n \n switch(temp.length)\n {\n    case 1:\n    temp = \"000\"+temp;\n    break;\n\n    case 2:\n    temp = \"00\"+temp;\n    break;\n    \n    case 3:\n    temp = \"0\"+temp;    \n    break;\n }\n \nmsg.payload = msg.data + temp.toString(16);\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["ec7e151d.3c0028"]]},{"id":"ec7e151d.3c0028","type":"function","z":"ec588adc.aace58","name":"送出","func":"msg.payload = Buffer.from(msg.payload, \"hex\");\nmsg = \n{\n    \"payload\":msg.payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["fa1ecd35.1845a"]]},{"id":"ffb0b4a8.e23a08","type":"debug","z":"ec588adc.aace58","name":"1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":40,"wires":[]},{"id":"f8337384.da2c6","type":"inject","z":"ec588adc.aace58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["4d0fc960.be5df8"]]},{"id":"4d0fc960.be5df8","type":"function","z":"ec588adc.aace58","name":"","func":"msg.payload = [];\nflow.set(\"yoyo\",0);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["a9c704ce.d02408","b37f5c98.0532c"]]},{"id":"aea29a37.8e5218","type":"ui_button","z":"ec588adc.aace58","name":"","group":"43d7c72b.238fd8","order":1,"width":1,"height":1,"passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":380,"wires":[["4d0fc960.be5df8"]]},{"id":"9d7ba4c6.3afe68","type":"function","z":"ec588adc.aace58","name":"modbus","func":"var id = msg.payload[0].toString(10);\nvar len = msg.payload[2];\nvar payload =msg.payload;\nvar table = [2,3,0,1,6,7,4,5];\n//====================================================\nvar i = 0;\nvar temp =\"\";\nvar data=\"\";\n//====================================================\n    for(i=0;i<len;i++)\n    {\n        temp = parseInt(payload[3+i],10);\n        temp = temp.toString(16);\n        temp = temp.padStart(2,\"0\");\n        data = data + temp;\n    }\n    msg = \n    {\n        \"payload\":\"0x\" + data,\n        \"id\":id,\n    }\n    node.send(msg);","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["dda2e48b.2929c8","91655850.b05ba8","917270a3.e6bab"]]},{"id":"f79cacd5.8fa3e","type":"function","z":"ec588adc.aace58","name":"status OK","func":"if(msg.status == \"OK\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":220,"wires":[["6fbd620b.45013c","9d7ba4c6.3afe68"]]},{"id":"6fbd620b.45013c","type":"debug","z":"ec588adc.aace58","name":"2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":220,"wires":[]},{"id":"dda2e48b.2929c8","type":"debug","z":"ec588adc.aace58","name":"3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":300,"wires":[]},{"id":"91655850.b05ba8","type":"function","z":"ec588adc.aace58","name":"16 to 10","func":"msg.payload = Number(msg.payload);\n\nmsg.payload = msg.payload/100;\n\nmsg.payload = msg.payload.toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":360,"wires":[["86d78961.baefc8","8db39edc.e07d6","b37f5c98.0532c"]]},{"id":"86d78961.baefc8","type":"debug","z":"ec588adc.aace58","name":"4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":360,"wires":[]},{"id":"917270a3.e6bab","type":"function","z":"ec588adc.aace58","name":"16 to 10 total","func":"msg.payload = Number(msg.payload);\n\nmsg.payload = msg.payload/100;\n\ntemp = flow.get(\"yoyo\");\n\ntemp = temp + msg.payload;\n\ntemp = Math.round(temp*100)/100;\n\nflow.set(\"yoyo\",temp);\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["a9c704ce.d02408"]]},{"id":"a9c704ce.d02408","type":"ui_text","z":"ec588adc.aace58","group":"43d7c72b.238fd8","order":4,"width":0,"height":0,"name":"","label":"total","format":"{{msg.payload}}","layout":"col-center","x":500,"y":260,"wires":[]},{"id":"8db39edc.e07d6","type":"ui_text","z":"ec588adc.aace58","group":"43d7c72b.238fd8","order":5,"width":0,"height":0,"name":"","label":"flow","format":"{{msg.payload}}","layout":"col-center","x":770,"y":440,"wires":[]},{"id":"b15b46ff.77cde8","type":"inject","z":"ec588adc.aace58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["679b6fa9.ba61f"]]},{"id":"2508e61.b52a11a","type":"serial request","z":"ec588adc.aace58","name":"","serial":"5bcc1022.43343","x":770,"y":720,"wires":[["9a483ef.118b3c","e191320f.ea078"]]},{"id":"679b6fa9.ba61f","type":"function","z":"ec588adc.aace58","name":"取樣時間 unit 0.1秒","func":"var id = 1;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"03\";\nvar reghi = \"04\";\nvar reglo = \"05\";\nvar addrhi = \"00\";\nvar addrlo = \"01\";\n\n\nvar data = id+type+reghi+reglo+addrhi+addrlo;\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["445a7043.deec7"]]},{"id":"445a7043.deec7","type":"function","z":"ec588adc.aace58","name":"加入CRC","func":"var buf= Buffer.from(msg.data, \"hex\");\nvar length = buf.length;\nvar crc = 0xFFFF;\nvar i,j,LSB;\n\n for (i = 0; i < length; i++) \n {\n   crc = crc^buf[i];\n   \n   for (j = 0; j < 8; j++) \n   {\n    LSB= crc & 1;\n    crc = crc >> 1;\n    if (LSB)\n    {\n     crc = crc^0xA001;\n    }\n  }\n }\n\n temp = ((crc & 0xFF00) >> 8)|((crc & 0x0FF) << 8 );\n \n temp = temp.toString(16);\n \n switch(temp.length)\n {\n    case 1:\n    temp = \"000\"+temp;\n    break;\n\n    case 2:\n    temp = \"00\"+temp;\n    break;\n    \n    case 3:\n    temp = \"0\"+temp;    \n    break;\n }\n \nmsg.payload = msg.data + temp.toString(16);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":720,"wires":[["baf31b32.a93738"]]},{"id":"baf31b32.a93738","type":"function","z":"ec588adc.aace58","name":"送出","func":"msg.payload = Buffer.from(msg.payload, \"hex\");\nmsg = \n{\n    \"payload\":msg.payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["2508e61.b52a11a"]]},{"id":"9a483ef.118b3c","type":"debug","z":"ec588adc.aace58","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":680,"wires":[]},{"id":"efd00eb9.1fcf8","type":"function","z":"ec588adc.aace58","name":"modbus","func":"var id = msg.payload[0].toString(10);\nvar len = msg.payload[2];\nvar payload =msg.payload;\nvar table = [2,3,0,1,6,7,4,5];\n//====================================================\nvar i = 0;\nvar temp =\"\";\nvar data=\"\";\n//====================================================\n    for(i=0;i<len;i++)\n    {\n        temp = parseInt(payload[3+i],10);\n        temp = temp.toString(16);\n        temp = temp.padStart(2,\"0\");\n        data = data + temp;\n    }\n    msg = \n    {\n        \"payload\":\"0x\" + data,\n        \"id\":id,\n    }\n    node.send(msg);","outputs":1,"noerr":0,"x":720,"y":880,"wires":[["7758dac4.a7d674","c5891897.f2a368"]]},{"id":"e191320f.ea078","type":"function","z":"ec588adc.aace58","name":"status OK","func":"if(msg.status == \"OK\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":740,"y":800,"wires":[["f4c675f5.19d638","efd00eb9.1fcf8"]]},{"id":"f4c675f5.19d638","type":"debug","z":"ec588adc.aace58","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":800,"wires":[]},{"id":"7758dac4.a7d674","type":"debug","z":"ec588adc.aace58","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":880,"wires":[]},{"id":"c5891897.f2a368","type":"function","z":"ec588adc.aace58","name":"16 to 10","func":"msg.payload = Number(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":940,"wires":[["15e939a0.6598b6"]]},{"id":"15e939a0.6598b6","type":"debug","z":"ec588adc.aace58","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":940,"wires":[]},{"id":"93bcda54.4bd4a8","type":"inject","z":"ec588adc.aace58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":780,"wires":[["17c161fa.91dcbe"]]},{"id":"17c161fa.91dcbe","type":"function","z":"ec588adc.aace58","name":"SCAL 倍率係數 unit 0.01 read","func":"var id = 1;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"03\";\nvar reghi = \"04\";\nvar reglo = \"01\";\nvar addrhi = \"00\";\nvar addrlo = \"01\";\n\n\nvar data = id+type+reghi+reglo+addrhi+addrlo;\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":780,"wires":[["445a7043.deec7"]]},{"id":"6dfe96aa.3ef948","type":"inject","z":"ec588adc.aace58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["c289a18d.02221"]]},{"id":"c289a18d.02221","type":"function","z":"ec588adc.aace58","name":"PPR read","func":"var id = 1;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"03\";\nvar reghi = \"04\";\nvar reglo = \"06\";\nvar addrhi = \"00\";\nvar addrlo = \"01\";\n\n\nvar data = id+type+reghi+reglo+addrhi+addrlo;\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1000,"wires":[["445a7043.deec7"]]},{"id":"cc3b0171.700d6","type":"inject","z":"ec588adc.aace58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1060,"wires":[["7d36f179.9093b"]]},{"id":"7d36f179.9093b","type":"function","z":"ec588adc.aace58","name":"PPR write","func":"var id = 1;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"06\";\nvar reghi = \"04\";\nvar reglo = \"06\";\n\n\n\nvar data = id+type+reghi+reglo + \"0028\";\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1060,"wires":[["445a7043.deec7"]]},{"id":"a11e0543.208318","type":"inject","z":"ec588adc.aace58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["460d06c9.531a48"]]},{"id":"460d06c9.531a48","type":"function","z":"ec588adc.aace58","name":"SCAL 倍率係數 unit 0.01 wtire","func":"var id = 1;\nid = id.toString(16);\nid = id.padStart(2,\"0\");\nvar type = \"06\";\nvar reghi = \"04\";\nvar reglo = \"01\";\n\n\nvar data = id+type+reghi+reglo+ \"000A\";\n\nmsg.data = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":840,"wires":[["445a7043.deec7"]]},{"id":"b37f5c98.0532c","type":"ui_chart","z":"ec588adc.aace58","name":"","group":"43d7c72b.238fd8","order":6,"width":0,"height":0,"label":"flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":590,"y":440,"wires":[[]]},{"id":"ce0040d8.9e429","type":"ui_button","z":"ec588adc.aace58","name":"","group":"43d7c72b.238fd8","order":2,"width":1,"height":1,"passthru":false,"label":"go","tooltip":"","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":130,"y":140,"wires":[["2a92a62b.47e35a"]]},{"id":"3707142a.01560c","type":"ui_button","z":"ec588adc.aace58","name":"","group":"43d7c72b.238fd8","order":3,"width":1,"height":1,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":130,"y":200,"wires":[["2a92a62b.47e35a"]]},{"id":"2a92a62b.47e35a","type":"trigger","z":"ec588adc.aace58","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"stop","bytopic":"all","name":"","x":300,"y":140,"wires":[["25541a57.114186"]]}]